API response check-01.py
API response check-02.py
API response check-04.py
API response check-04-01.py
API response check-04-02.py
API response check-04-03.py
API response check-04-04.py
API response check-05.py
API response check-05-02.py

json_example.json
to_json_example.json
to_json_example_02.json
to_json_example_03.json
output.txt